body {
  background-color: #ffffff;
  margin: 0;
}
#container {
  width: 800px;
  margin-left: auto;
  margin-right: auto;
}
header {
  height: 250px;
  background-color: #80aba9;
  margin-right: auto;
  margin-left: auto;
}
article {
  background-color: #c1e4e9;
  width: 550px;
  margin-top: 25px;
  float: left;
}
article h2 {
  background-color: #80aba9;
  margin-top: 0;
  padding-left: 15px;
}
article p {
  padding-left: 15px;
}
aside {
  background-color: #ffffff;
  width: 200px;
  margin-top: 25px;
  float: right;
}
section {
  background-color: #c1e4e9;
}
h5 {
  background-color: #80aba9;
  margin: 0;
  padding-left: 12px;
}
li {
  font-size: 12px;
  margin-left: -20px;
  margin-right: 20px;
}
aside p{
  font-size: 12px;
  padding-left: 12px;
  line-height: 0.7;
}
