body {
  font-family: '07やさしさアンチック','メイリオ','Hiragino Kaku Gothic Pro';
  background-color: #38b48b;
  margin: 0;
}
.dot {
  background-color: #38b48b;
  background-image: radial-gradient(#00916d 20%, transparent 20%),
  radial-gradient(#84c966 20%, transparent 20%);
  background-size: 12px 12px;
  background-position: 0 0, 6px 6px;
}
#container {
  background-color: #ffffff;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 30px;
}
header {
  height: 230px;
  background-color: #d8e698;
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
.gizagiza {
  height: 20px;
  background:
  linear-gradient(-135deg, #d8e698 10px, transparent 0) 0 10px,
  linear-gradient(135deg, #d8e698 10px, #ffffff 0) 0 10px;
  background-position: left bottom !important;
  background-repeat: repeat-x !important;
  background-size: 20px 20px;
  background-color: #d8e698;
}
#daiji {
  width: 500px;
  float: left;
  margin-left: 30px;
  margin-top: 10px;
}
#charactor {
  width: 200px;
  float: right;
  padding: 20px 40px 20px 20px;
}
/* 本文 */
article {
  background-color: #ffffff;
  width: 400px;
  margin-top: 25px;
  margin-right: 50px;
  padding-left: 50px;
  float: right;
  overflow: hidden;
}
article h2 {
  background-color: #d8e698;
  margin-top: 0px;
  margin-bottom: 0px;
  margin-left: -50px;
  border-radius: 10px;
  font-size: 21px;
  /*border-left: 10px solid #00a381;*/
}
#midasi {
  width: 38px;
  vertical-align: -10px;
  margin-right: 10px;
  padding-left: 50px;
}
time {
  font-size: x-small;
  float: right;
}
article ul {
  list-style-type: none;
  font-size: 0;
  float: right;
  clear: both;
  margin-bottom: 3px;
}
article li {
  font-size: small;
  display: inline;
  font-size: x-small;
  border-right: solid 1px #aaaaaa;
  padding-left: 5px;
  padding-right: 5px;
}
article li:first-child {
  border-left: solid 1px #aaaaaa;
}
.comic {
  float: left;
  margin-bottom: 8px;
}
article p {
  clear: both;
}
/* 最新コメント・プロフィールなど 下段の情報*/
#asidenav {
  background-color: #ffffff;
  width: 180px;
  margin-top: 25px;
  margin-left:50px;
  float: left;
}
nav {
  margin-top: 50px;
}
section {
  background-color: #d8e698;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
nav section {
  padding-bottom: 8px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
#lastsection {
  margin-bottom: 50px;
}
nav h5 {
  background-color: #00a381;
  margin: 0;
  padding-left: 12px;
  padding-top: 3px;
  margin-top: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
h5 img {
  width: 20px;
  vertical-align: -3px;
  padding-right: 5px;
  margin-left: -5px;
}
section li {
  font-size: 12px;
  margin-left: -10px;
  margin-right: 20px;
}
nav p{
  font-size: 12px;
  padding-left: 12px;
  line-height: 0.7;
}
form p {
  margin-top: 0;
  margin-bottom: 25px;
}
/* 登場人物 */
aside section {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
aside h5 {
  background-color: #00a381;
  margin: 0;
  padding-left: 12px;
  padding-top: 5px;
  margin-bottom: 5px;
  border-radius: 7px;
  margin-top: 7px;
}
aside h6 {
  background-color: #00a381;
  margin: 0;
  padding-left: 12px;
  padding-top: 3px;
  margin-top: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
aside p {
  font-size: 12px;
  padding-left: 12px;
  padding-right: 8px;
  margin: 2px;
}

#next {
 clear: both;
 text-align: center;
 margin-bottom: 15px;
}
#next small{
  border-right: 1px solid #aaaaaa;
  padding-left: 5px;
  padding-right: 5px;
}
#next small:first-child {
  border-left: solid 1px #aaaaaa;
/* フッター */
footer {
  clear: both;
  background-color: #d8e698;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 3px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
