body {
  font-family: '07やさしさアンチック','メイリオ','Hiragino Kaku Gothic Pro';
  background-color: #38b48b;
  margin: 0;
}
#container {
  background-color: #ffffff;
  width: 800px;
  margin-left: auto;
  margin-right: auto;
  overflow: hidden;
  border-radius: 30px;
}
header {
  height: 250px;
  background-color: #d8e698;
  margin-right: auto;
  margin-left: auto;
  border-top-left-radius: 30px;
  border-top-right-radius: 30px;
}
/* 本文 */
article {
  background-color: #ffffff;
  width: 400px;
  margin-top: 25px;
  float: left;
  margin-left: 150px;
  border-radius: 10px;
}
article h2 {
  background-color: #ffffff;
  margin-top: 0;
  padding-left: 15px;
  font-size: 21px;
  border-left: 10px solid #00a381;
}
/* 最新コメント・プロフィールなど 下段の情報*/
#asidenav {
  background-color: #ffffff;
  width: 180px;
  margin-top: 25px;
  margin-right: 50px;
  float: right;
}
nav {
  margin-top: 50px;
}
section {
  background-color: #d8e698;
  border-bottom-left-radius: 7px;
  border-bottom-right-radius: 7px;
}
nav section {
  padding-bottom: 8px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
#lastsection {
  margin-bottom: 50px;
}
nav h5 {
  background-color: #00a381;
  margin: 0;
  padding-left: 12px;
  padding-top: 3px;
  margin-top: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
h5 img {
  width: 20px;
  vertical-align: -3px;
  padding-right: 5px;
  margin-left: -5px;
}
li {
  font-size: 12px;
  margin-left: -10px;
  margin-right: 20px;
}
nav p{
  font-size: 12px;
  padding-left: 12px;
  line-height: 0.7;
}
form p {
  margin-top: 0;
  margin-bottom: 25px;
}
/* 登場人物 */
aside section {
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
aside h5 {
  background-color: #00a381;
  margin: 0;
  padding-left: 12px;
  padding-top: 5px;
  margin-bottom: 5px;
  border-radius: 7px;
  margin-top: 7px;
}
aside h6 {
  background-color: #00a381;
  margin: 0;
  padding-left: 12px;
  padding-top: 3px;
  margin-top: 7px;
  border-top-left-radius: 7px;
  border-top-right-radius: 7px;
}
aside p {
  font-size: 12px;
  padding-left: 12px;
  padding-right: 8px;
  margin: 2px;
}
/* フッター */
footer {
  clear: both;
  background-color: #d8e698;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  padding-bottom: 3px;
  border-bottom-left-radius: 30px;
  border-bottom-right-radius: 30px;
}
